.rsvp-form {
    position: relative;
    hr {
        color:#6b7997;
        z-index: 4;
        position: relative;
    }
    .thank-you {
        z-index: 3;
        text-transform: uppercase;
        background-color: white;
        position: absolute;
        top:0;
        transition: all ease 2s;
        overflow: hidden;
        height: 0;
        width: 100%;
        overflow: hidden;
        text-align: center;
        font-family: 'Libre Baskerville', serif;

    }
    .attending, 
    .not-attending {
        z-index: 1;
        transition: all ease 1s;
        font-family: 'Libre Baskerville', serif;
        font-size:18px;
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        .question {
            p {
                .number-control {
                    float: right;
                    .number {
                        padding: 0 8px;
                    }
                    .minus-btn, .plus-btn {
                        width: 14px;
                        height: 14px;
                        cursor: pointer;
                        border:1px solid black;
                        border-radius: 100%;
                        display: inline-block;
                        position: relative;
                        &:after {
                            position: absolute;
                            content:'';
                            width:8px;
                            height: 2px;
                            background-color:black;
                            display: block;
                            transform: translate(2px, 5px);
                        }
                    }
                    .plus-btn {
                        &:before {
                            position: absolute;
                            content:'';
                            width:8px;
                            height: 2px;
                            background-color:black;
                            display: block;
                            transform:rotate(90deg)translate(5px, -2px);

                        }
                    }
                }
            }
        }
        .answers {
            margin-bottom:30px;
            &:last-child {
                margin-bottom:0;
            }
            input {
                width: 48%;
                font-family: 'Libre Baskerville', serif;
                border:none;
                border-bottom:1px solid #333;
                font-size:18px;
                outline:none;

                &.last-name {
                    margin-left:1%
                }
                &::-webkit-input-placeholder {
                    color: #6b7997;
                }
                &:-moz-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    color: white;
        
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus, 
                &:-webkit-autofill:active  {
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                }
            }
            
        }

    }
    .submit-btn {
        z-index: 4;
        text-align: right;
        padding:15px 0;
        position: relative;
        button {
            outline:none;
            cursor: pointer;
            background:white;
            color: #6b7997;
            padding: 11px 0;
            width: 50px;
            height: 50px;
            margin-top: -25px;
            border: 3px solid lightgray;
            border-radius: 50%;
            transition: all ease-in-out 500ms;
            position: relative;
            &:after, 
            &:before {
                transition: all ease-in-out 500ms;
                content:'';
                display: block;
                position: absolute;
                background:lightgray;
                width:50%;
                height: 4px;
                border-radius: 2px;
            }
            &:after {
                transform: translate(13px, 5px) rotate(135deg);
            }
            &:before {
                transform: translate(13px, -7px) rotate(45deg);
            }
            &:hover {
                &:after {
                    transition: all ease-in-out 500ms;
                    transform: translate(15px, 5px) rotate(135deg);
                }
                &:before {
                    transition: all ease-in-out 500ms;
                    transform: translate(15px, -7px) rotate(45deg);
                }
            }
            &.clicked {
                border-color:#7fa771;
                &:after {
                    transition: all ease-in-out 500ms;
                    background-color:#7fa771;
                    transform: translate(15px, -1px) rotate(135deg);
                }
                &:before {
                    transition: all ease-in-out 500ms;
                    background-color:#7fa771;
                    transform: translate(8px, 1px) rotate(225deg);
                    width: 35%;
                }
            }
        }
    }
    &.submitted {
        .thank-you {
            transition: all ease 1s;
            height: 100%;
        }
    }
}

