<div class="rsvp-form" [ngClass]="{'submitted': isSubmitted === true}">
    <hr>
    <div class="thank-you">
        <h2>Thank you!</h2>
    </div>
    <div  class="attending">
        <div class="question">
            <p>How many will be attending?
                <span class="number-control">
                    <span class="minus-btn" (click)="guestList.removeAttending()"></span>
                    <span class="number">{{guestList.attendingCount()}}</span>
                    <span class="plus-btn" (click)="guestList.addAttending()"></span>
                </span>
            </p>
        </div>
        <div class="answers" *ngFor="let guest of guestList.attending; let index = index;">
            <input class="first-name" type="text"  placeholder="First Name" [(ngModel)]="guest.firstName"/>
            <input class="last-name" type="text" placeholder="Last Name" [(ngModel)]="guest.lastName" />
        </div>
    </div>
    <div class="not-attending">
        <div class="question">
            <p>How many won't be able to make it?
                <span class="number-control">
                    <span class="minus-btn" (click)="guestList.removeDeclining()"></span>
                    <span class="number">{{guestList.decliningCount()}}</span>
                    <span class="plus-btn" (click)="guestList.addDeclining()"></span>
                </span>
            </p>
        </div>
        <div class="answers" *ngFor="let guest of guestList.declining">
            <input class="first-name" type="text" placeholder="First Name" [(ngModel)]="guest.firstName"/>
            <input class="last-name" type="text" placeholder="Last Name" [(ngModel)]="guest.lastName"/>
        </div>

    </div>
    <hr>
    <div class="submit-btn">
        <button [ngClass]="{'clicked': isSubmitted === true}" type="submit" (click)="submit()"></button>
    </div>
</div>


